.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  color:black;
}
.navbar-brand{
  font-family: 'Arial', Times, serif;
  color:  black;
  font-size: 25px;
  font-weight: bold;
}
.navbar-toggler{
  color: tomato;
}
.nav-item{
    background: transparent;
    background-color: transparent;
}
.nav-link {
  font-size: 15px;
  color: black;
  font-weight: bold;
}
.navbar navbar-expand-lg bg-body-tertiary{
  font-family: 'Arial', Times, serif;
}
.container-fluid{
  font-family: 'Arial', Times, serif;
  background-color: transparent;
}
.d-flex{
  
  margin-left: 1000px;
  color: blue;
}
.form-control {
  
color: black;
}
.btn btn-outline-success{
  align-self: right;

}
.nav-link:hover{
 color: green; 
}